# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Gradle
.gradle/
build/
local.properties

# Android
*.apk
!/RizzBot.apk
*.aab
*.ap_
*.dex

# Kotlin
*.class

# UI Automator dumps
*.xml
!**/src/**/*.xml
!gradle/**/*.xml

# Secrets
*.jks
*.keystore
google-services.json
